{% extends 'layout.html' %}

{% block content %}
	
	<div class="container my-5 py-5">
		<div class="card text-center">
		<div class="card-header">
			<p>Login!</p>
		</div>
		<div class="card-body">
			<form action="{{ url_for('login') }}" method="POST">
				{{ form.hidden_tag() }}

				 <!-- ----------------------------- USERNAME -----------------------------------------  -->

				<fieldset class="form-group">
					<div class="form-group">
						{{ form.username.label(class="form-control-label") }}

						{% if form.username.errors %}
							{{ form.username(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control form-controllg") }}
						{% endif %}

						
					</div>
				</fieldset>

				 <!-- --------------------------- PASSWORD -----------------------------------------   -->

				<fieldset class="form-group">
					<div class="form-group">
						{{ form.password.label(class="form-control-label") }}
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.password(class="form-control form-controllg") }}
						{% endif %}
					</div>
				</fieldset>


				<div class="form-check">
					{{ form.remember(class="form-check-input") }}
					{{ form.remember.label(class="form-check-label") }}
				</div>

				<!-- ------------------------ SUBMIT BUTTON -------------------------------------------- -->

				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
			<small class="text-muted">
			Don't have an account yet ? <a class="ml-2" href="{{ url_for('login') }}">Sign up</a>
			</small>
		</div>
	</div>
	</div>

{% endblock content %}